certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
cryptography==3.4.7
idna==2.10
pycparser==2.20
pyOpenSSL==20.0.1
python-http-client==3.3.2
requests==2.25.1
sendgrid==6.7.1
six==1.16.0
starkbank-ecdsa==1.1.1
urllib3==1.26.5
