{
    "site-name": {
        "site-domain": "website domain",
        "alert-days": ["30", "7", "3"],
        "host-ip": "direct check for ssl cert on host (optional)",
        "recipient": "recipient only for this domain (optional)"
    },
    "site-name-2": {
        "site-domain": "website domain",
        "alert-days": ["15", "7", "1"]
    }
}